.clap-receiver{
  display: flex;
  align-items: center;
  flex-direction: column;

  &__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 1rem;
  }

  &__badge {
    width: 100px;
    height: 100px;
    margin: 1rem;
  }

  &__name {
    flex-basis: 100%;
    font-size: 14pt;
  }
}

.graph {
    background: red;
    &__given {
        height: 0;
    }
    &__to-give {
        height: 100px;
    }
}

.title{
  display: inline-block;
  font-size: 28pt;
  margin-bottom: 2rem;
  font-family: 'Potta One';
  text-align: center;
  display: block;
}

.category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: calc(50px + 2rem);
  padding-left: 2rem;
  width: calc(100vw - 4rem);
  border: 0;
  outline: 0;
  background: 0;
  border-bottom: solid 1px #e3e3e3;
  background: linear-gradient(0deg, #f9f9f9, #ddd);
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 16pt;
}

.amount-selected{
    position: relative;
    width: 360px;
    height: 300px;
    margin-left: -180px;
    left: 50%;
    display: flex;
    justify-content: space-between;

    .amount {
        width: 100px;
        height: 300px;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        &__current{

        }

        &__to_send{

        }
    }

    .controls {
        .select-amount{
            display: block;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            padding: 1rem;
            text-align: center;
            margin-bottom: 1rem;
            font-size: 16pt;
            font-weight: bold;
            background: yellow;
            border: solid 6px orange;
            color: #b7811d;
            &:disabled {
                opacity: .5;
            }
        }
    }
    
    .icon-amount {
        width: 100px;
        height: 100px;
    }

    .value{
        display:block;
        text-align:center;
        font-family: 'Potta One';
        background: yellow;
        padding: 1rem;
        font-size: 14pt;
        border: solid 10px red;
    }
}

.send-clap{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  button{
    padding: 1em;
    background: #ffcb7c;
    border: solid 1px orange;
    border-radius: 10px;
    font-family: 'Potta One';
    box-shadow: 1px 1px 1px yellow;
    font-size: 18pt;


    &.reset-clap{
        color: red;
        border-color: #c0c0c0;
        background: transparent;
    }
  }
}
