<ng-template #selectAmount>
<section class="select-amount">
    <div class="clap-receiver">
        <div>
            <img src="{{ currentUser.avatar }}"class="clap-receiver__avatar" />
            <img src="{{ 'assets/icons/icon-' + category + '.svg' }}" class="clap-receiver__badge" />
        </div>
    </div>
    <div class="title">Quanto vale o show?</div>
    <div class="amount-selected">
        <div class="amount amount__current">
            <img src="assets/icons/015-influence.svg" class="icon-amount" />
            <div class="graph graph__to-give" [style.height]="currentClapsToGiveGraph"></div>
            <div class="value">{{ currentClapsToGive }}</div>
        </div>
        <div class="controls">
            <button class="select-amount" (click)="addAmount(1)" [disabled]="currentClapsToGive < 1">+1</button>
            <button class="select-amount" (click)="addAmount(5)" [disabled]="currentClapsToGive < 5">+5</button>
            <button class="select-amount" (click)="addAmount(10)" [disabled]="currentClapsToGive < 10">+10</button>
        </div>
        <div class="amount amount__to_send">
            <img src="assets/icons/017-calm.svg" class="icon-amount" />
            <div class="graph graph__given" [style.height]="clapsGivenGraph"></div>
            <div class="value">{{ clapsGiven }}</div>
        </div>
    </div>
    <div class="send-clap">
        <button class="button reset-clap" (click)="resetAmount()">reset</button>
        <button class="button" (click)="sendClap()">CLAP!</button>
    </div>
</section>
</ng-template>

<section *ngIf="success; else selectAmount" class="success">
    <div class="success-message">
        Sucesso!
    </div>
    <div class="button-success">
        <button class="button send-clap">OK</button>
    </div>
</section>
