@import '_theme';

.amount{
  padding-top: 2vh;
  padding-bottom: 2vh;
  display:flex;
  display: flex;
  justify-content: space-around;
  font-size: 28pt;
  font-weight: bold;
  font-family: 'Potta One';
  &-item {
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image:url(/assets/icons/051-numbers.svg);
    text-align: center;
    &__to-share{
      
    }
    &__shared_with_me{
    }
  }
}

.badges{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
  .badge {
    width: 33.33%;
    height: auto;
    text-align: center;
    filter: grayscale(1);
    opacity: .15;
    &__achieved{
      filter: grayscale(0);
      opacity: 1;
    }
    .svg-icon {
      position: relative;
      width: 50%;
      margin: 10px;
    }
  }
}

.send-clap {
  display: flex;
  justify-content: center;
  padding: 1em;
  .button-send-claps{
    padding: 1em;
    background: #ffcb7c;
    border: solid 1px orange;
    border-radius: 10px;
    font-family: 'Potta One';
    box-shadow: 1px 1px 1px yellow;
    font-size: 18pt;
  }
}
