<div *ngIf="isLoading; else home" class="loading">Loading</div>

<ng-template #home>
  <header class="amount">
    <div class="amount-item amount-item__to-share">
      <span>{{ dashboard?.available_claps }}</span>
      <img src="{{ 'assets/icons/017-calm.svg' }}" class="to-give-claps" />
      <div class="desc">para distribuir</div>
    </div>
    <div class="amount-item amount-item__shared_with_me">
      <span>{{ dashboard?.own_claps }}</span>
      <img src="{{ 'assets/icons/011-management.svg' }}" class="my-claps" />
      <div class="desc">meus claps</div>
    </div>
  </header>

  <h1>Compartilhar é vida!</h1>
  <div class="subtext">Envie claps para os seus colegas e reconheça suas boas ações!</div>
  <div class="send-clap">
    <button class="button-send-claps" (click)="sendClap()">Enviar Claps!</button>
  </div>

  <h1>Minhas conquistas</h1>
  <div class="badges">
    <div *ngFor="let badge of dashboard.badges" class="badge" [class.badge__achieved]="badge.level > 0">
      <img src="{{ 'assets/icons/icon-' + badge.category_type + '.svg' }}" class="svg-icon" />
    </div>
  </div>
  <div class="timeline">
    <app-timeline></app-timeline>
  </div>
</ng-template>
