<div *ngIf="isLoading; else home" class="loading">Loading</div>

<ng-template #home>
  <header class="amount">
    <div class="amount-item amount-item__to-share">
      <span>{{ dashboard?.available_claps }}</span>
    </div>
    <div class="amount-item amount-item__shared_with_me">
      <span>{{ dashboard?.own_claps }}</span>
    </div>
  </header>

  <div class="badges">
    <div *ngFor="let badge of dashboard.badges" class="badge" [class.badge__achieved]="badge.level > 0">
      <img src="{{ 'assets/icons/icon-' + badge.category_type + '.svg' }}" class="svg-icon" />
    </div>
  </div>
  <div class="send-clap">
    <button class="button-send-claps" (click)="sendClap()">Enviar Claps!</button>
  </div>
  <div class="timeline">
    <timeline></timeline>
  </div>
</ng-template>
