<section class="select-team">
    <div class="search">
        <input type="text" class="search-field" placeholder="digite um nome" />
    </div>
    <div class="team-list">
        <ul>
            <li>
                <button class="team-member">
                    <img src="" class="team-member__avatar" />
                    <div class="team-member__name">
                        José da Silva
                    </div>
                </button>
            </li>
        </ul>
    </div>
</section>

<section class="select-category">
    <div class="clap-receiver">
        <img class="clap-receiver__avatar" />
        <span class="clap-receiver__name">José da Silva</span>
    </div>
    <div class="category-list">
        <ul>
            <li class="category">
                <img class="category__badge" />
                <span class="category__name">ANY</span>
            </li>
        </ul>
    </div>
</section>

<section class="select-amount">
    <div class="clap-receiver">
        <img class="clap-receiver__avatar" />
        <span class="clap-receiver__name">José da Silva</span>
    </div>
    <div class="amount-selected">
        <div class="current-amount">1000</div>
        <div class="controls">
            <button class="add">+1</button>
            <button class="add">+5</button>
            <button class="add">+10</button>
            <button class="add">Reset</button>
        </div>
        <div class="send-amount">85</div>
    </div>
    <div class="send-clap">
        <button class="button send-clap">CLAP!</button>
    </div>
</section>

<section class="success">
    <div class="success-message">
        Sucesso!
    </div>
    <div class="button-success">
        <button class="button send-clap">OK</button>
    </div>
</section>